.bg{
    background-color: rgb(241, 201, 188);
}
.color{
   color: rgb(235, 65, 65);
}
.size{
    font-size: 80px;
    margin: 10px;
}
 p{
    margin: 10px;
    font-size:15px;
}

img{
  
    height: 300px;
    border-radius: 5px;
}
#img_1{
    background: rgb(203, 202, 202);
}
#img_2{
    background: rgb(203, 202, 202);
}
#img_3{
    background: rgb(203, 202, 202);
   border-radius: 10px;
}
.card{
margin-top: 10px;
box-shadow:5px 5px 5px 5px rgb(232, 229, 229);
height: 550px;
border-radius: 10px;
}
